* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 12px;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 3em;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

nav > img {
    cursor: pointer;
}

.menu {
    cursor: pointer;
    width: 50px;
    background: linear-gradient(270deg, #FA695A 0%, #F83375 100%);
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu--img {
    height: .7em;
}

main {
    height: 450px;
    width: fit-content;
    margin: auto;
    position: relative;
    text-align: center;
    color: white;
}

main > img {
    width: 100%;
    max-width: 320px;
    border-radius: 15px;
}

.info-dog {
    position: absolute;
    margin-left: 10px;
    bottom: 6%;
    text-align: initial;
}

.info-dog > h3 {
    margin: 0;
}

.info-dog > p {
    margin: 0;
    font-size: .8em;
    font-weight: 300;
    color: #B7B7B7;
}

.nope-banner {
    position: absolute;
    width: 150px;
    height: auto;
    left: 3%;
    top: 7%;
    transform: rotate(-30deg);
}

footer {
    text-align: center;
}

footer > button {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 3px 10px -2px rgba(182,182,182,1);
}

.nope {
    background-image: url("./images/nope-icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.like {
    background-image: url("./images/like-icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.nope:hover {
    cursor: pointer;
    background-color: #FFE7EF;
}

.like:hover {
    cursor: pointer;
    background-color: #DBFFF4;
}